<div class=" header bg-primary pb-6">

  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Tests</h6>
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a [routerLink]="'/tests'"> <i class=" fas fa-home"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a [routerLink]="'/tests'"> Tests </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active">
                Add Test
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<div class=" container-fluid mt--6">
  <div class=" card mb-4">
    <div class=" card-body">
      <div class="row">

        <div class=" col-md-6">
          <div class=" form-group">
            <label class="form-control-label" for="offer-name">
              Test Name
            </label>

            <input class=" form-control" id="offer-name" [(ngModel)]="test&& test.name" placeholder="Test Name"
              type="text" />
          </div>
        </div>

        <div class=" col-md-6">
          <div class=" form-group">
            <label class=" form-control-label" for="offer-name">
              Test AR Name
            </label>

            <input class=" form-control" id="offer-name" [(ngModel)]="test&& test.arName" placeholder="Test Arabic Name"
              type="text" />
          </div>
        </div>


      </div>

      <div class="row align-items-center">
        <div class=" col-md-6">
          <div class=" form-group">
            <label class=" form-control-label" for="offer-route">
              Choose the Test Type
            </label>

            <select [(ngModel)]="test && test.testTypeId" class=" form-control" id="offer-route">
              <option *ngFor="let testType of testTypes" [value]="testType.id"> {{testType.name}} </option>
            </select>
          </div>
        </div>
        <div class="col d-flex align-items-center">
          <label class="mr-6 mb-0" for="covid-check">Covid-19 Test?</label>
          <label class=" custom-toggle custom-toggle-default">
            <input checked="checked" type="checkbox" id="covid-check" [(ngModel)]="test.isCovid" />

            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes">
            </span>
          </label>
        </div>
        <!-- <div class=" col-md-6">
      <div class=" form-group">
        <label class=" form-control-label" for="rankFormControl">
          Rank
        </label>
  
        <select [(ngModel)]="latestService.rank" class=" form-control" id="rankFormControl">
          <option *ngFor="let item of ranks; let i = index" [value]="i+1"> {{i+1}} </option>
        </select>
      </div>
    </div> -->
      </div>


      <div class="row">
        <div class="col btns-block">
          <button class=" btn btn-primary" type="button" (click)="onAddTest()">{{editMode ? 'Edit': 'Save'}}</button>
          <button class=" btn btn-outline-danger" type="button" [routerLink]="'/services'">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
